[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"

[dev-packages]
build = "*"
coverage = "*"
flake8 = "*"
mypy = "*"
myst-parser = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"

[requires]
python_version = "3"
